{% extends "AubainePlatformBundle::layout.html.twig" %}

{% block aubaineplatform_body %}
    <h1>Une erreur s'est produite</h1>

    <h2>"{{ status_code }} {{ status_text }}".</h2>


    <div>

      Contactez-nous en cas de problème majeur.

    </div>

{% endblock %}