{% extends "AubaineCoreBundle::layout.html.twig" %}
{% block title %}
  Préférences - {{ parent() }}
{% endblock %}
{% block body_column_center %}

<div class="body-activate">
    {% if app.user.activated %}
        <div>
            Votre compte est activé ! <br>
            Votre sera désactivé le {{ app.user.deadline | date("d/m/y")}}
        </div>
    {% else %}
        <h1>Activer votre compte</h1>
        <p>Pour activer votre compte 2 solution s'offrent à vous :</p>
        <h2>Parainer vos amis</h2>
        <p>Pour parrainer un ami, demander lui de renseigner votre adresse email dans le champs parrain lors de son inscription</p>
        Parrainer 1 amis: activation offerte pour 6 mois <br>
        Parrainer 2 amis: activation offerte pour 12 mois <br>
        Parrainer 3 amis: activation offerte pour 18 mois <br>
        Et vos amis auront automatiquement 6 mois d'activation !

        <h2>Payer de manière sécurisée</h2>
        <form method="post" class="form" action ="{{ path('aubaine_core_activate') }}">
            <div class="form-group action">
                <input type="hidden" name="activation" value="">
                <button class="btn btn-primary submit"  data-loading-text="Activation..." type="submit">activer mon compte pendant 1 ans de validité</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}

