{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Page d'accueil- {{ parent() }}
{% endblock %}

{% block body_column_center %}
    <div id="body-cgu">
        <h1>Mentions Légales</h1>
        <p>
            Le site Internet www.aubaineapp.fr, ci-après dénommé «  Aubaineapp.fr » propose un service d'édition et de diffusion de promotions de courte durée pour les professionnels.
        </p>
        <p>
            Le site est édité par Aubaine VDC, SAS au capital de 3000,00 euros, immatriculée au registre du commerce et des sociétés de Toulouse sous le numéro 820 282 085. <br>Siège social : 22, rue Maurice Fonvieille - 31100 Toulouse.
        </p>
        <p>
            Le directeur de publication de Aubaineapp.fr est Aymeric de Lanouvelle ( contact : aymeric.delanouvelle@aubaineapp.fr )
        </p>
        <p> 
            Le Site internet a fait l’objet d’une déclaration auprès de la CNIL sous le numéro 2030622 v 0.
        </p>

        <h2>Hébergements</h2>
        <p>
            Le site aubaineapp.fr est hébergé par Planethoster. <br> 
            <label class="label_contact"> téléphone:</label> +1 855 774 4678<br/>
            <label class="label_contact">siege social:</label><br/>
                    4416 Louis-B.-Mayer<br/>
                    Laval, Québec<br/>
                    Canada<br/>
                    H7P 0G1<br/>
        </p>


        <h1 class=' title-section-aubaine'>Conditions Générales d'Utilisation</h1>

        <p>
            <span class="tab"></span>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  AUBAINE VDC, ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, 
            et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services. <br>
            Toute connexion au site est subordonnée au respect des présentes conditions. <br>
            Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante aubaineapp.fr  implique l’acceptation de l’ensemble des conditions décrites ci-après. 
        </p>

        <h2>Offres référencées sur notre site</h2>
        <p>
            <span class="tab"></span>Aubaine n'est pas responsable de la qualité des offres référencées sur le site. Les offres sont mis à jour par les commerçants eux-mêmes, ils sont les seuls responsables de la qualité de leur offre. 
            Au bout de retours clients négatifs nous supprimerons définitivement le partenariat.
        </p>

        <h2>Propriété intellectuelle</h2>
        <p>
            <span class="tab"></span>Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle, ne peut être faite de ce site 
            sans l’autorisation du directeur de publication.
        </p>

        <h2>Liens hypertextes</h2>
        <p>
            <span class="tab"></span>Le site aubaineapp.fr peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. 
            Les liens vers ces autres ressources vous font quitter le site aubaineapp.fr
            Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande 
            d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. 
            Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien 
            qu’il estime non conforme à l’objet du site aubaineapp.fr 
        </p>

        <h2>Responsabilité de l’éditeur</h2>
            <p>
                <span class="tab"></span>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
                Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques. 
                L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance. 
                Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site. 
                Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. 
                En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance. 
                L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, 
                qui assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR puisse être recherché à ce titre, et sans recours contre ce dernier. 
                L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des 
                informations et/ou documents disponibles sur ce site.
            </p>


        <h2>Accès au site</h2>
            <p>
                <span class="tab"></span>L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement 
                hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
                Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de
                 temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
                La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.
                Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités.
                 L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou
                tout tiers. 
            </p>


        <h2>Modification des conditions d’utilisation</h2>
            <p>
                <span class="tab"></span>L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions 
                du site et/ou de son exploitation.
            </p>



        <h2>Règles d'usage d'Internet</h2>
            <p>
                <span class="tab"></span>L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :

                L’EDITEUR n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur 
                la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.

                L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. 
                La présence du logo   AUBAINE  institue une présomption simple de validité. La communication de toute information jugée par l’utilisateur de nature sensible 
                ou confidentielle se fait à ses risques et périls.

                L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.

                L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.

                L’utilisateur reconnaît que l’EDITEUR ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet
            </p>


        <h2>Droit applicable</h2>
            <p>
                <span class="tab"></span>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, 
                et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
                Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante :
            </p>


        <h2>Crédit de rédaction des CGU</h2>
            <p>
                <span class="tab"></span>Les présentes conditions générales (CGU) sont une reproduction du Modèle de CGU (conditions générales d'utilisation) d'un site Internet, 
                dont le titulaire des droits d'auteur est DROITISSIMO.COM, site internet d'information juridique grand public.
            </p>
    </div>

{% endblock %}

  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubaineCore/js/partner.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}