{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block body_column_center %}

    <h1>Tous les bons plans de votre ville</h1>

    <p>le meilleur de Toulouse</p>
    <p>Des bons plans sous toutes leur formes</p>

    <h2>Derniers lieux magiques</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iste sint reprehenderit mollitia, obcaecati ratione facilis atque eos cum repellat. Quas eligendi animi, recusandae neque aut molestias dolore facilis reiciendis.</p>

    <h2>Tout sur une carte</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iste sint reprehenderit mollitia, obcaecati ratione facilis atque eos cum repellat. Quas eligendi animi, recusandae neque aut molestias dolore facilis reiciendis.</p>

    <h2>Actualités sur notre Startup</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iste sint reprehenderit mollitia, obcaecati ratione facilis atque eos cum repellat. Quas eligendi animi, recusandae neque aut molestias dolore facilis reiciendis.</p>

    <h2>Signalez-nous un bon plan</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iste sint reprehenderit mollitia, obcaecati ratione facilis atque eos cum repellat. Quas eligendi animi, recusandae neque aut molestias dolore facilis reiciendis.</p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='jsqueeze'
        'bundles/aubainecore/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
