{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Devenir Partenaire - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="body-partner" class="body-large">
        <div id='partner-header'>
            <h1>Devenir Partenaire</h1>

            <h2>
                Chaque jour, partagez un message en fonction de votre activité
             </h2>
        </div>
        <div id='partner-avantages'>
            <div class="assets">
                <h4>Simple</h4>
                <p>
                    Utiliser notre interface est aussi simple et rapide que d'écrire sur une ardoise
                </p>
            </div>
            <div class="assets">
                <h4>Instantané</h4>
                <p>
                    Nous transmettons vos messages instantanément, vous profitez d'une communication temps réel
                </p>
            </div>
            <div class="assets">
                <h4>Sans limite</h4>
                <p>
                    Nous développons des accords pour diffuser vos messages sur d'autres sites et applis mobiles
                </p>
            </div>
            <div class="assets">
                <h4>Gratuit</h4>
                <p>
                    La diffusion de messages est totalement gratuit. Des options payantes vous sont proposées
                </p>
            </div>
        </div>
        <div id='partner-functionment'>
            <h3>Improvisez ou planifiez vos messages</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-examples"> 
                        <div class="example">
                            Nouveau produit
                        </div> 
                        <div class="example">
                            Évènement
                        </div> 
                        <div class="example">
                            Promotion
                        </div> 
                        <div class="example">
                            Destockage
                        </div> 
                        <div class="example">
                            Offre Éphémère
                        </div> 
                        <div class="example">
                            etc
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myAubaines-list">
                        <div class=" day day-withAubaine" style="border-top:none">
                        <div class="date">
                            <div class="dayofmonth">5</div>
                            <div class="dayofweek">Lun</div>
                            <div class="shortdate text-muted">Juin, 2017</div>
                        </div>
                        <div class="aubaine">
                            <div class="aubaine-message">Comme tous les lundi, la coupe homme à 15euros au lieu de 20 !</div>
                        </div>
                        </div>
                        <div class="day day-withAubaine">
                            <div class="date">
                                <div class="dayofmonth">6</div>
                                <div class="dayofweek">Mar</div>
                                <div class="shortdate text-muted">Juin, 2017</div>
                            </div>
                            <div class="aubaine">
                                <div class="aubaine-message">Venez découvrir l'expo de l'artiste "Toulouse grapher" dans notre café</div>
                            </div>
                        </div>
                        <div id="current_aubaine" class="day day-withAubaine">
                            <div class="date">
                                <div class="dayofmonth">7</div>
                                <div class="dayofweek">Mer</div>
                                <div class="shortdate text-muted">Juin, 2017</div>
                            </div>
                            <div class="aubaine">
                                <div class="aubaine-message">Ce soir on vous convie a une soirée inoubliable en compagnie de Bob Sinclar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <!--  <div id='partner-pricing'>
            <h3>Un service à la carte</h3>
            <p>La diffusion de message via notre site est gratuite. <br>
             Certaines options payantes vous sont proposées pour optimiser votre visibilité.</p>
        </div> -->
        <div id="partner-contact">
            <h3>Contact</h3>
            <p>
                Pour obtenir un partenariat ou pour plus d'information sur notre service.
            </p>
            <p>
                <a href="mailto:contact@aubaineapp.fr" class="email">contact@aubaineapp.fr</a> <br>
                <span class="phone">07 83 86 60 99</span>
            </p>
        </div>
    </div>

{% endblock %}

  {% block javascripts %}
        {{ parent() }}
        {% javascripts filter='jsqueeze'
            'bundles/aubainecore/js/partner.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
  {% endblock %}