{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block title %}
  Inscription- {{ parent() }}
{% endblock %}

{% block body_column_center %}
    <div class="body-subscription">
        <div class="message">
            <h1>Inscription</h1>
            <p>
                Vous êtes un professionnel et désirez faire connaître vos promotions, nouveautés, évènements et autres bons plans ? <br>
                Contactez-nous pour devenir partenaire !<br>
            </p>
            <p class="email">
                <a href="mailto:contact@aubaineapp.fr">contact@aubaineapp.fr</a>
            </p>
            <p class="phone">
                <span>07 83 86 60 99</span>
            </p>
        </div>
    </div>
{% endblock %}