{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "AubainePlaceBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block aubaineplace_body %}
  
  <a href="{{ path('aubaine_place_home') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste
  </a>

  <h2>Publier un lieu</h2>

  {{ include("AubainePlaceBundle:Place:form.html.twig") }}

{% endblock %}
