{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "AubainePlaceBundle::layout.html.twig" %}

{% block title %}
  Modifier un lieu - {{ parent() }}
{% endblock %}

{% block page %}
  <main class="page-place_edit page-large">

    <a href="{{ path('aubaine_place_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>

    <h2>Modifier l'article</h2>

    {{ include("AubainePlaceBundle:Place:form.html.twig") }}

  </main>
{% endblock %}
