{% extends "AubaineCoreBundle::layout.html.twig" %}

{% block page %}
    <main class="page-confirmed page-large">
        <h1>Bienvenue {{ user.username }} {{ user.lastname }} !</h1>
    
    <div>
        Vous êtes bien inscrits, votre carte Aubaine est valable pendant 1 mois. <br>
        Vous pouvez prolonger sa validité gratuitement en parainant vos amis, profitez-en !
    </div>
    <div class="message">
        <h2>Parainez un ami</h2>
        <p>gagnez 6 mois de validité en parainnant un ami !</p>
        Pour parainez une personne, demandez lui de renseignez votre email lors de son inscription, dans le champ parrain. Vous pouvez parainez jusqu'à 3 personnes !
        et vos filleul gagnent aussi 6 mois de validité
    </div>
    <div class="message">
        <h2>Parrainez un commerce</h2>
        Faites-nous connaitre auprès d'un commerçant. Demandez au commerce de vous citer dans sa prise de contact avec Aubaine
    </div>
    <div class="message">
        <h2>Faites-nous connaitre auprès d'un commerçant</h2>
        Demandez au commerce de vous citer dans sa prise de contact avec Aubaine
    </div>
    </main>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
