{% extends "AubaineCoreBundle::layout.html.twig" %}
{% block title %}
  Inscription - {{ parent() }}
{% endblock %}
{% block page %}
    <main class="page-register page-large">
		{% include "@FOSUser/Registration/register_content.html.twig" %}
	</main>
{% endblock %}