{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for deal in listDeals %}
    <li>
      <a href="{{ path('aubaine_deal_view', {'id': deal.id}) }}">
        {{ deal.title }}
      </a>
    </li>
  {% endfor %}
</ul>
