{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "AubaineUserBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block page %}
  <main class="page-user_add page-large">
  
    <a href="{{ path('aubaine_user_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des utilisateurs
    </a>

    <h2>Ajouter un utilisateur</h2>

    {{ include("AubaineUserBundle:User:form.html.twig") }}

  </main>
{% endblock %}
