{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "AubaineUserBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body_column_center %}
  
  <a href="{{ path('aubaine_user_home') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste des utilisateurs
  </a>

  <h2>Ajouter un utilisateur</h2>

  {{ include("AubaineUserBundle:User:form.html.twig") }}

  <p>
    remplisssez ce formulaire pour ajouter un utilisateur.<br>
  </p>

{% endblock %}
