{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "AubaineUserBundle::layout.html.twig" %}

{% block title %}
  Modifier un utilisateur - {{ parent() }}
{% endblock %}

{% block page %}
<main class="page-user_editPassword page-large">

	<a href="{{ path('aubaine_user_view', {'id': user.id}) }}" class="btn btn-default">
	<i class="glyphicon glyphicon-chevron-left"></i>
	Retour à l'utilisateur
	</a>

	<h2>Modifier le mot de passe</h2>

	{{ include("AubaineUserBundle:User:form.html.twig") }}
</main>

{% endblock %}
