{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for aubaine in listAubaines %}
    <li>
      <a href="{{ path('aubaine_platform_view', {'id': aubaine.id}) }}">
        {{ aubaine.title }}
      </a>
    </li>
  {% endfor %}
</ul>
