{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

	<div class="row">
        <div class="col-sm-7"> 
		{% include "@FOSUser/Profile/edit_content.html.twig" %}
		</div>
	</div>
{% endblock fos_user_content %}
