.padding-30{
  padding:30px;
}
.btn-rose{
  background: #ec4940;
  border:#ec4940;
  color:#fff;
}
.btn-rose:hover{
  background: #d02d24;
  border:#ec4940;
  color:#fff;
}
html {
  font-size: 62.5%;
  /*height:100%;*/
}
body{
  /*height:100%;*/
  font-size: 1.4rem;
}
textarea {
    resize: none;
}
@media screen and (max-width: 500px) {
  html{
    font-size: 50.5%;
  } 
}
body{
  font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
}
.body_column_center{
  min-height: 50rem;
}
.footer{
  width: 100%;
  padding:6rem 2rem;
  margin:0;
  color: #fff;
  background: #222;
  bottom:0;
  vertical-align: bottom;
  z-index: 0;
}
.footer .summary{
  text-align: justify;
  padding:2rem;
}
 .footer .social{
  padding:2rem 0;
  text-align: center;
}
 .footer .links{
  padding:2rem;
}
 .footer ul{
  list-style: none;
  padding:0;
}
 .footer li{
  margin-bottom: 1.5rem;
}
 .footer a{
  color:#fff;
  margin:1rem 0;
}
.social-logo img{
  margin: 0 2rem;
}
.social-logo img{
  width:40px;
  height:40px;
}
#footer-newsletters{
  padding:3.5rem 0;
}
#footer-newsletters .email{
  display:inline-block;
  vertical-align: top;
  max-width: 40rem;
  border-radius: 0;   
}
#footer-newsletters .btn{
  display:inline-block;
  vertical-align: top;
  border-radius: 0;
}
#result-add-mail-success{
    background-color: #0e600e;
    display: none;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 0.5rem 1rem;
}
#result-add-mail-error{
    background-color: #a00;
    display: none;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 0.5rem 1rem;
}
#footer-infos a{
  margin:1rem;
  color:#fff;
  font-size: 1.4rem;
}
.top-row{
  /*padding-top: 2rem;*/
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 10;
  border:none;
  background-color: #fff;
  font-size: 1.4rem
}
.navbar .navbar-nav > li > a {
    color: #666;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.navbar .navbar-nav > li.active > a {
    color: #ec4940;
}
.navbar > .container-fluid .navbar-brand {
  background-color: #ec4940;
  padding: 12px;
}
.navbar-toggle .icon-bar {
    background: #666 none repeat scroll 0 0;
}


/*map page*/
.body-map .map_wrapper{
  display: inline-block;
  position:relative;
  text-align: center;
  position:absolute;
  top:50px;
  right:0;
  left:0;
  bottom:0;
  z-index: 2;
}
.body-map .map{
  height: 100%;
  width: 100%;
}


/*live page*/
.body-live .map_wrapper{
  display: inline-block;
  position:relative;
  text-align: center;
  position:absolute;
  top:50px;
  right:0;
  left:90rem;
  bottom:0;
  z-index: 2;
}
.body-live .map{
  height: 100%;
  width: 100%;
}
.body-live .search{
 margin:2rem 0;
}
.body-live .list_wrapper{
  padding:6rem 0rem 0;
  color:#444;
  text-align: center;
  box-sizing: border-box; 
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: absolute;
  top:50px;
  left:0;
  width:90rem;
  bottom:0;
  background-color: #fafafa;
  color:#333;
  border-left: 4px solid #fff;
  z-index:3;
}
@media screen and (max-width: 900px) {
  .body-live .list_wrapper{
    width:inherit;
    top:inherit;
    left:inherit;
    right:inherit;
    bottom:inherit;
    position:relative;
    overflow-y:inherit;
  }
  .body-live .map_wrapper{
    display:none;
  }
}
.body-live .today{
  position:absolute;
  font-size: 2rem;
  color:#888;
  top:1.8rem;
  left:3rem;
  margin:0;
}
.body-live .city{
  position:absolute;
  font-size: 1.8rem;
  color:#888;
  top:2rem;
  right:3rem;
  margin:0;
}
.body-live h1{
  font-size: 2.6rem;
  color:#888;
  margin-bottom: 5rem;
}
.body-live  .welcome{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}
.body-live  li{
  position:relative;
  cursor:pointer;
}



/*Map Marker*/
.marker-map-eat{ 
  padding:0.5rem;
  background-color: #DE2916;
}
.marker-map-shop{ 
  padding:0.7rem;
  background-color: #00561B;
}
.marker-map-wellness{ 
  padding:0.5rem;
  background-color: #003366;
}
.marker-map-event{ 
  padding:0.7rem;
  background-color: #f5bc05;
}
.leaflet-popup-content{
    width:220px;  
}
.leaflet-container a{
  color:#444;
}
.dealMap {  
  background:#fff;
  border-radius: 3px;
  font-size: 1.3rem;
  opacity:0.97;
  padding:2px;
  color:#444;
  display:block;
  text-decoration: none;
}
.dealMap:hover {
  color:#444;
  text-decoration: none;
}
.dealMap:active { 
  color:#444;
  text-decoration: none;
}
.dealMap .content {
    font-size: 1.6rem;
    padding:1rem 0.5rem 0;
    font-weight: bold;
}
.dealMap .place {
  padding:1rem 0.5rem 1rem;
}
.dealMap .location {
  height:2rem;
  width:auto;
  margin-right: 0.5rem;
}
.dealMap .dates {
  padding:0 0.5rem 1rem;
}
.dealMap .calendar{
  height:2rem;
  width:auto;
  margin-right: 0.5rem;
}
.dealMap .image{
  width:100%;
  height:13rem;
  overflow:hidden;
  background-size: cover;
}
.leaflet-popup-content-wrapper{
  background: transparent;
  padding:0;
}
.custom_infobox .leaflet-popup-content{
  background: transparent;
  margin:0;
}
.leaflet-container a.leaflet-popup-close-button {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #444;
    font-size: 16px;
    height: 30px;
    line-height: 27px;
    padding: 0;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 30px;
    z-index: 1;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    background: #fff none repeat scroll 0 0;
    color:#000;
}
.leaflet-popup-tip{
  border-radius: 10px;
}
.marker-map {
  display: block;
  border-radius: 50%;
  cursor: pointer;
}
.marker-map-animated.marker-map-eat {
  box-shadow: 0 0 0 rgba(255, 0, 0, 0.8);
  animation: pulse_red 2s ease-out infinite;
}
.marker-map-animated.marker-map-shop {
  box-shadow: 0 0 0 rgba(0, 86, 27, 0.8);
  animation: pulse_green 2s ease-out infinite;
}
.marker-map-animated.marker-map-wellness {
  box-shadow: 0 0 0 rgba(222, 41, 22, 0.8);
  animation: pulse_blue 2s ease-out infinite;
}
.marker-map-animated.marker-map-event {
  box-shadow: 0 0 0 rgba(242, 142, 0, 0.8);
  animation: pulse_yellow 2s ease-out infinite;
}

@-webkit-keyframes pulse_red {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 15px rgba(222, 41, 22, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
  }
}
@keyframes pulse_red {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
    box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 15px rgba(222, 41, 22, 0);
      box-shadow: 0 0 0 15px rgba(222, 41, 22, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
      box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
  }
}

@-webkit-keyframes pulse_red_long {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 25px rgba(222, 41, 22, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
  }
}
@keyframes pulse_red_long {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
    box-shadow: 0 0 0 0 rgba(222, 41, 22, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 25px rgba(222, 41, 22, 0);
      box-shadow: 0 0 0 25px rgba(222, 41, 22, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
      box-shadow: 0 0 0 0 rgba(222, 41, 22, 0);
  }
}
@-webkit-keyframes pulse_green {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 86, 27, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 15px rgba(0, 86, 27, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 86, 27, 0);
  }
}
@keyframes pulse_green {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 86, 27, 0.8);
    box-shadow: 0 0 0 0 rgba(0, 86, 27, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 15px rgba(0, 86, 27, 0);
      box-shadow: 0 0 0 15px rgba(0, 86, 27, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 86, 27, 0);
      box-shadow: 0 0 0 0 rgba(0, 86, 27, 0);
  }
}
@-webkit-keyframes pulse_blue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 51, 102, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 15px rgba(0, 51, 102, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 51, 102, 0);
  }
}
@keyframes pulse_blue {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 51, 102, 0.8);
    box-shadow: 0 0 0 0 rgba(0, 51, 102, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 15px rgba(0, 51, 102, 0);
      box-shadow: 0 0 0 15px rgba(0, 51, 102, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 51, 102, 0);
      box-shadow: 0 0 0 0 rgba(0, 51, 102, 0);
  }
}
/*#f2b600*/
@-webkit-keyframes pulse_yellow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(242, 142, 0, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 15px rgba(242, 142, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(242, 142, 0, 0);
  }
}
@keyframes pulse_yellow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(242, 142, 0, 0.8);
    box-shadow: 0 0 0 0 rgba(242, 142, 0, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 15px rgba(242, 142, 0, 0);
      box-shadow: 0 0 0 15px rgba(242, 142, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(242, 142, 0, 0);
      box-shadow: 0 0 0 0 rgba(242, 142, 0, 0);
  }
}












/*home*/
.body-home{
  text-align: center;
  color:#666;
}
.body-home h1{
  font-size: 4.5rem;
  margin:0 0 2rem ;
  color:#ec4940;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: normal;
  position:relative;
  z-index: 1;
}
.body-home h2{
  font-size: 2.5rem;
  margin: 0 1rem 6rem;
  color:#666;
  position:relative;
  z-index: 1;
}
.body-home h3{
  font-size: 2.3rem;
  margin: 1rem 1rem 3rem;
  position:relative;
  z-index: 1;
}
.body-home h4{
  color: #ec4940;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}
.home-search{
  margin:8rem 0 0;
  background-color: rgba(0,0,0,0.7);
  padding:2rem 0;
  position:relative;
  z-index: 1;
}
.home-search .category{
  height:2.5rem;
  width:2.5rem;
  padding:0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.home-search .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  margin:1rem 0.5rem;
}
.home-search input[type="submit"]{
  font-size: 1.8rem;
  margin:1rem 0.5rem;
}
.home-search .bootstrap-select.btn-group .dropdown-toggle .filter-option{
  font-size: 1.8rem;
}
.home-search .category-eat{
  background-color: #DE2916;
}
.home-search .category-shop{
  background-color: #00561B;
}
.home-search .category-wellness{
  background-color: #003366;
}
.home-search .category-event{
  background-color: #f5bc05;
}
/*home-header*/
#home-header{
  background-image: url('../images/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  background-size:cover;
  padding:12rem 2rem 0rem;
  position:relative;
  z-index: 1;
}
#home-header:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.5);
  z-index: 0;
}
/*home-live*/
.home-live{
  text-align: center;
  padding:10rem 0;
  z-index: 0;
  position:relative;
}
.home-live h2{
  margin-bottom: 0;
}
/*home-map*/
#home-map h2{
  color:#fff;
  margin-top: 0;
}
#home-map{
  background-color: #003366;
  background-image: url('../images/map.png');  
  background-attachment: fixed;
  background-repeat: no-repeat;
  width:100%;
  background-size:cover;
  color:#fff;
  padding:6rem 2rem;
  position:relative;
}
#home-map:before{
  background-color: rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  content:"";
}
#home-map h2{
  z-index: 1;
  position:relative;
  margin:2rem 0;
}
#home-map a{
  margin:2rem 0;
  z-index: 1;
  position:relative;
}
/*home-concept*/
.home-concept{
    display: inline-block;
    width: 100%;
    padding:10rem 1rem;
    line-height: 2.5rem;
}
.home-concept .keyword-list{
  line-height: 3rem;
}
.home-concept .keyword{
  display:inline-block;
  margin:0;
  color:#ec4940;
}
.home-concept .keyword-s{
  font-size: 1.6rem;
}
.home-concept .keyword-m{
  font-size: 2rem;
}
.home-concept .keyword-l{
  font-size: 2.6rem;
}
.home-concept .keyword-xl{
  font-size: 3.3rem;
}
/*home-partner*/
.home-partner{
    background:#fafafa;
    border:2px solid #eee;
    padding:10rem 1rem;
}
.home-partner .list{
  
}
.home-partner .partner-name{
  margin-top: 7px;
  margin-bottom: 15px;
}
/*home-teaser*/
.home-teaser {
    padding:10rem 1rem;
}
.home-teaser .asset{
  display: inline-block;
  vertical-align: top;
  width: 24rem;
  padding:0rem 1rem 2rem;
  line-height: 2.6rem;
}
/*home-contact*/
.home-contact{
    padding:6rem 1rem;
    background:#fafafa;
    border-bottom:2px solid #eee;
    border-top:2px solid #eee;
}
.home-contact h2{
    margin-bottom: 2rem;
}
.home-contact .phone,
.home-contact .email{
    display:inline-block;
    margin:0.5rem 0;
    font-weight:bold;
    color:#666;
    font-size: 1.8rem;
}
/*home-media*/
.home-media{
    padding:2rem 1rem;
}
#media-list{
}
#media-list img{
  height: 5rem;
  margin:1.5rem;
  display:inline-block;
  max-width: 80%;
}
#media-list img{
  height: 5rem;
  margin-bottom:3rem;
  margin-right:3rem;
  display:inline-block;
  max-width: 80%;
}



/*partner*/
#body-partner{
  text-align: center;
}
#body-partner h2{
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color:#666;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.partner-header{
  padding:6rem 1rem;
}
.partner-header .website{
  font-size: 1.8rem;
  font-style: italic;
}
.partner-header h1{
  padding:2rem;
  margin-top:3rem;
  border:2px solid;
  font-size: 2.2rem;
  border-radius: 0.5rem;
  font-weight: normal;
  line-height: 4rem;
}
.partner-header .logo{
  margin-bottom:2rem;
}
.partner-advantages h3{
  font-size: 2rem;
  color:#ec4940;
}
.partner-advantages{
  padding:10rem 0;
}
.partner-advantages .asset{
  display: inline-block;
  vertical-align: top;
  width: 24rem;
  padding:0rem 1rem 2rem;
  line-height: 2.6rem;
}
.partner-functionment{
  padding:10rem 1rem;
}
.partner-functionment h2{
}
.partner-howpublish{
  padding:10rem 1rem;
  background-color: #fafafa;
  border-top:2px solid #eee;
  border-bottom:2px solid #eee;
}
.partner-howpublish h3{
  font-size: 2rem;
  color:#ec4940;
}
.partner-howpublish .publish{
  display: inline-block;
  vertical-align: top;
  width: 30rem;
  padding:0rem 2rem 2rem;
  line-height: 2.6rem;
}
.partner-figures{
  padding:10rem 1rem;
  background:#fafafa;
  border-top:2px solid #eee;
  border-bottom:2px solid #eee;
}
.partner-figures h2{
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.partner-figures .figure{
  width: 30rem;
  display:inline-block;
  padding:2rem;
  margin:1rem auto;
  vertical-align: top
}
.partner-figures .figure span{
  font-size: 4rem;
  font-weight: bold;
  display:block;
}
.partner-contact{
  padding:10rem 1rem;
}
.partner-contact h2{
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.partner-contact .phone,
.partner-contact .email{
    display:inline-block;
    margin:0.5rem 0;
    font-weight:bold;
    color:#666;
    font-size: 1.8rem;
}

/*login form*/
.form-signin-wrapper {  
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: left;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin-heading .checkbox {
  margin-bottom: 30px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-submit{
  margin:2rem 0;
}




/*My Aubaines*/
.body-myAubaines{
  border-collapse: inherit;
  color:#444;
  padding:1rem;
  border-radius: 0.5rem;
}
.myAubaines-header{
    text-align: center;
    padding:2rem 0;
}
.myAubaines-form{
  margin:2rem auto;
}
.myAubaines-currentAubaines,
.myAubaines-oldAubaines{
  margin:4rem 0;
}
.myAubaines-form .form-control{
  position: relative;
}
.aubaineForm{
  margin: 30px 10px;
  background-color: #eee;
  padding:0 2rem;
  max-width: 310px;
  display:inline-block;
  color:#444;  
  border:2px solid;
  border-radius: 0.5rem;
  box-shadow: 6px 8px 11px #aaa;
}
.aubaineForm .action{
  text-align: right;
}
.aubaineForm .form-group{
  margin:2rem 0;
}
.aubaineForm .submit{
}
.body-myProfile h1{
  background-color: #666;
  color:#fff;
  padding:1rem;
  margin:2rem 0 1rem;
}
.body-myProfile table{
  display:inline-block;
}


/*Aubaine*/
.aubaine{
  color:#444;
  font-size: 1.3rem;
  position:relative;
  max-width: 800px;
  margin:0 auto;
  padding-bottom: 2rem;
}
.aubaine h1{
  background: #eee none repeat scroll 0 0;
  border-radius: 0.5rem;
  box-shadow: 6px 8px 11px #aaa;
  color: #323232;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  margin: 4rem 0rem 6rem;
  padding: 2.5rem;
  position: relative;
  text-align: center;
}
.aubaine h2{
  font-size: 2.2rem;
}
.aubaine .location{
  height:3.5rem;
}
.aubaine .header{
  width:100%;
  position:relative;
}
.aubaine .header img{
  width:100%;
}
.aubaine .edit{
  padding:2rem 0;
}
.aubaine .imageHeader{
  width:100%;
}
.aubaine .category{
  margin:3rem 0;
}
.aubaine .dates{
  margin:3rem 0;
}
.aubaine .category-logo{
  height:3.5rem;
  width:3.5rem;
  padding:0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.aubaine .category-logo.category-eat{
  background-color: #DE2916;
}
.aubaine .category-logo.category-shop{
  background-color: #00561B;
}
.aubaine .category-logo.category-wellness{
  background-color: #003366;
}
.aubaine .category-logo.category-event{
  background-color: #f5bc05;
}
.aubaine .calendar{
  margin-right: 0.5rem;
  height:3.5rem;
  width:auto;
}
.aubaine .introduction{
  font-weight: bold;
  font-size: 1.5rem;
}
.aubaine .image{
  width:100%;
  margin-bottom:20px;
}
.aubaine .content{
}
.aubaine .information{
  padding:1rem 0;
  font-style: italic;
  color:#666;
}


/*aubaineExtract*/
.aubaineExtract{
  display:inline-block;
  margin:30px 15px;
  vertical-align: top;
  color:#444;
  font-size: 1.2rem;
  vertical-align: top;
  text-decoration: none;
  position:relative;
  width: 250px;
  text-align: left;
  max-width: 90%;
  background-color: #fff;
  box-shadow: 6px 8px 11px #aaa;
}
/*.aubaineExtract:after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #f33333 transparent transparent;
  position:absolute;
  left:2rem;
}*/
.aubaineExtract:hover{
  text-decoration: none;
  color:#444;
  box-shadow: 6px 8px 11px #999;
}
.aubaineExtract:focus{
  text-decoration: none;
  color:#444;
}
.aubaineExtract .content {
    font-size: 1.7rem;
    padding:1rem;
    font-weight: bold;
    position:relative;    
    color:#444;
    height:12rem;
    overflow:hidden;
}
.aubaineExtract .category{
  position:absolute;
  bottom:1rem;
  right:1rem;
  height:3rem;
  width:3rem;
  padding:0.5rem;
  border-radius: 50%;
}
.aubaineExtract .category.category-eat{
  background-color: #DE2916;
  border-color: #DE2916;
}
.aubaineExtract .category.category-shop{
  background-color: #00561B;
  border-color: #00561B;
}
.aubaineExtract .category.category-wellness{
  background-color: #003366;
  border-color: #003366;
}
.aubaineExtract .category.category-event{
  background-color: #f5bc05;
  border-color: #f5bc05;
}
.aubaineExtract .image{
  width:100%;
  height:20rem;
  overflow:hidden;
  background-size: cover;
}
.aubaineExtract .place{
  padding:0 1rem 1rem;
}
.aubaineExtract .date{
  padding:0 1rem 1rem;
}
.aubaineExtract .calendar{
  margin-right: 0.5rem;
  height:2rem;
  width:auto;
}
.aubaineExtract .location{
  margin-right: 0.5rem;
  height:2rem;
  width:auto;
}

.adminAction{
  padding:1rem;
  background:#ddd;
  max-width: 800px;
  margin:2rem auto;
  border:2px solid #bbb;
}
.adminAction a{
  margin:1rem;
}

.body-subscription h1{
  text-align: center;
}
.body-subscription .email,
.body-subscription .phone{
  font-weight: bold;
  margin:1rem 0;
  display:inline-block;
}
.body-subscription .message{
  max-width: 400px;
  border:2px solid;
  margin:2rem auto;
  padding:2rem;
}