
html {
  font-size: 62.5%;
  /*height:100%;*/
}
body{
  /*height:100%;*/

}
textarea {
    resize: none;
}
@media screen and (max-width: 500px) {
  html{
    font-size: 50.5%;
  } 
}
.body_column_center{
  min-height: 50rem;
}
.footer{
  width: 100%;
  padding:3rem 0 3rem;
  margin:2rem 0 0;
  color: #fff;
  background: #777;
  text-align: center;
  bottom:0;
  vertical-align: bottom;
  z-index: 0;
}
.social-logo img{
  margin: 0 2rem;
}
.social-logo img{
  width:40px;
  height:40px;
}
#footer-newsletters{
  padding:3.5rem 0;
}
#footer-newsletters .email{
  display:inline-block;
  vertical-align: top;
  max-width: 40rem;
  border-radius: 0;   
}
#footer-newsletters .btn{
  display:inline-block;
  vertical-align: top;
  border-radius: 0;
}
#result-add-mail-success{
    background-color: #0e600e;
    display: none;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 0.5rem 1rem;
}
#result-add-mail-error{
    background-color: #a00;
    display: none;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 0.5rem 1rem;
}
#footer-infos a{
  margin:1rem;
  color:#fff;
  font-size: 1.6rem;
}
.top-row{
  padding-top: 2rem;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 10;
  border:none;
  border-bottom: 2px solid #eee;
  background-color: #fff;
}
.navbar .navbar-nav > li > a {
    color: #444;
}
.navbar .navbar-nav > li.active > a {
    color: #ec4940;
    /*font-weight: bold;*/
}
.navbar > .container-fluid .navbar-brand {
  background-color: #ec4940;
}
.navbar-toggle .icon-bar {
    background: #666 none repeat scroll 0 0;
}













/*home page*/
#map_wrapper{
  display: inline-block;
  position:relative;
  text-align: center;
  position:absolute;
  top:50px;
  left:0;
  right:50rem;
  bottom:0;
  z-index: 2;
}
#map{
  height: 100%;
  width: 100%;
}
#listAubaines-home{
  padding:2rem 1rem 0;
  color:#444;
  text-align: center;
  box-sizing: border-box; 
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top:50px;
  right:0;
  width:50rem;
  bottom:0;
  background-color: #fafafa;
  color:#333;
  border-left: 4px solid #fff;
  z-index:3;
}
@media screen and (max-width: 650px) {
  #listAubaines-home{
    bottom:0rem;
    left: 0;
    right: 0;
    width:100%;
    border-left: none;
  }
  #map_wrapper{
    bottom: 0;
    left: 0;
    right:0;
    width:100%;
  }
}
@media screen and (min-width: 650px) {
  .show-map-button{
      display:none;
  }
}
/*list Aubaine*/
.show-map-button{
    background-image: linear-gradient(to bottom, #EC4940 0px, #dd4030 100%);
    margin:2rem 0 0;
    border:none;
}
.show-map-button:hover{
    background-image: linear-gradient(to bottom, #dd4030 0px, #cc3525 100%);
    margin:2rem 0 0;
}
#listAubaines-home h2{
  /*font-style: italic;*/
  font-size: 2.6rem;
  color:#999;
  top:1rem;
  margin:1rem 0 2rem;
  right:1rem;
}
#aubaine-list{
  list-style: none;
  margin: 2rem auto 0;
  padding: 0 1rem;
  text-align: left;
}
#aubaine-list li{
  padding: 7rem 0 2rem 0rem;
  position:relative;
  border-top:thin solid #ccc;
}
#aubaine-list li:first-child{
  /*border-top:none;*/
}
#aubaine-list li .author{
  position:absolute;
  left:0;
  font-size: 1.3rem;
  top:2rem;
  color:#777;
  font-weight: bold;
}
#aubaine-list li .category{ 
  width:3.5rem;
  background-color: #ff3333;
  border-radius: 50%;
  padding:0.5rem;
  margin-right: 0.5rem;
}
#aubaine-list li .message{
  display:inline-block;
  width:100%;
  line-height: 2.4rem;
  font-size: 1.6rem;
}
#aubaine-list li .category-shop{ 
  padding:0.7rem;
}
#aubaine-list li .category-event{ 
  padding:0.7rem;
}
#listAubaines-home .separator{
  font-size: 2.5rem;
  margin:2rem 0;
  letter-spacing: 0.5rem;
  display:none;
}
#footer-home{
  padding:4rem 1rem 4rem;
  margin:2rem -1rem 0;
  background:#777;
}

/*Map*/
.leaflet-popup-content{
    width:240px;  
}
.dealMap {  
    background:#fff;
    /*border: 2px solid #666;*/
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
    opacity:0.95;
    padding:0.7rem;
}
.dealMap-header{
    background-color: #f33333;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom:1.5rem;
}
.dealMap-header:after{
    content:"";
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 15px 0px 1px;
  border-color: #f33333 transparent transparent;
  position:absolute;
  left:2rem;
}
.dealMap-title {
    font-size: 15px;
    font-weight: 700;
    padding:10px 5px 5px;
}      
.dealMap-subtitle {
    padding:0px 5px 10px;
}
.dealMap-content {
    line-height: 17px;
    font-weight: 400;
    max-height: 300px;
}
.dealMap-author{
    min-height: 100px;
}
.dealMap-hours_open{
  font-size: 1.2rem;
  color:#666;
}
.dealMap-author-details{
    position:relative;
    padding-left:70px;
    padding-top:5px;
    min-height:65px;
}
.dealMap-author-details img{
    position:absolute;
    width:65px;
    height:65px;
    top:0px;
    left:0px;
    border-radius:35px; 
}
.dealMap-name{
    font-weight:bold;
    font-size: 1.5rem;
}
.dealMap-img{
}
.dealMap-description{
    margin-top:5px;
}
.dealMap-like{
  text-align: center;
  margin-top:5px;
}
.dealMap-like-img{
  width:20px;
  height:20px;
}
.dealMap-like-score{
  margin-left:5px;
  color:#ff6762;
  display:inline-block;
}
.leaflet-popup-content-wrapper{
  background: transparent;
  padding:0;
}
.custom_infobox .leaflet-popup-content{
  background: transparent;
    margin:0;
}
.leaflet-container a.leaflet-popup-close-button {
    background: #fff none repeat scroll 0 0;
    border-radius: 11px;
    position: absolute;
    padding:0;
    right: -10px;
    top: -10px;
    width:22px;
    height:22px;
    color:#fff;
    text-align: center;
    font-size: 16px;
    z-index: 1;
    color:#666;
    line-height: 19px;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    background: #fff none repeat scroll 0 0;
    color:#444;
}
.leaflet-popup-tip{
  border-radius: 10px;
}
.marker-map {
  display: block;
  padding:5px;
  border-radius: 50%;
  background: #ff3333;
  cursor: pointer;
}
.marker-map-event,
.marker-map-shop{
  padding:7px;
}
.marker-map-1 {
  box-shadow: 0 0 0 rgba(255, 51, 51, 0.8);
  animation: pulse_red 2s ease-out infinite;
}
@-webkit-keyframes pulse_red {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 51, 51, 0.8);
  }
  99.9% {
      -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse_red {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 51, 51, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 51, 51, 0.8);
  }
  99.9% {
      -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      box-shadow: 0 0 0 15px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}












/*concept*/
#body-concept{
  text-align: center;
  color:#666;
}
#body-concept h1{
  font-size: 5rem;
  margin:0 0 2rem ;
  color:#ec4940;
  /*text-transform: uppercase;*/
}
#body-concept h2{
  font-size: 2.5rem;
  margin: 4rem 0rem ;
  /*color:#666;*/
}
#body-concept h3{
  margin:0 0 3rem;
  font-size: 2.2rem;
  line-height: 3rem;
}
#body-concept h4{
  color:#ec4940;
  font-weight: 500;
}
#body-concept p{
  max-width: 500px;
  margin:1rem auto;
}
/*concept-header*/
#concept-header{
  background-image: url('../images/concept3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  background-size:cover;
  padding:9rem 3rem 9rem;
}
#concept-header h3{
  font-size: 2.5rem;
  line-height: 4rem;
  color:#444;
  max-width: 800px;
}
#concept-header p{
  font-size: 2.5rem;
  line-height: 4rem;
  color:#444;
  max-width: 800px;
}
/*concept-user*/
#concept-user{
    display: inline-block;
    width: 100%;
    padding:6rem 2rem;
}
#concept-user .assets{
  display: inline-block;
  vertical-align: top;
  width: 195px;
  padding:0 1rem;
}
#concept-partner{
    border-top: 5px solid #ff3333;
    margin:6rem 0;
    position:relative;
}
#concept-partner .figures{
    width:10rem;
    margin:0 auto;
    position:relative;
    height:10rem;
    color:#fff;
    background-color: #ff3333;
    border-radius: 5rem;
    top:-5rem;
    line-height: 9rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#concept-partner .figures span{
    line-height: normal;
    vertical-align: middle;
    display:inline-block;
}
#concept-partner .figures span b{
    font-size: 3rem;
}
#concept-partner .carousel{
    display: inline-block;
    background-color: #fff;
    padding:0 8rem;
}
#concept-partner  .carousel-control{
    background: none;
}
#concept-partner .carousel .carousel-element{
    display: inline-block;
    width: 15rem;
    margin:1rem 1rem;
    font-size: 1.2rem;
}
#concept-partner .carousel img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#concept-teaser{
    background-color: #ec4940;
    padding:4rem 2rem;
    color:#fff;
}
#concept-teaser a{
    margin-top: 2rem;
}
#concept-contact{
    padding:4rem 0;
    margin:5rem 0 1rem;
    font-size: 1.6rem;
}
#concept-contact .phone,
#concept-contact .email{
    display:inline-block;
    margin:0.5rem 0;
    font-weight:bold;
}
#concept-media{
    padding:3rem;
}
/*concept-Media*/
#media-list{
  padding:4rem 2rem;
}
#media-list img{
  height: 8rem;
  margin:1.5rem;
  display:inline-block;
  max-width: 80%;
}





/*partner*/
#body-partner{
  text-align: center;
}
#partner-header h1{
  font-size: 4.5rem;
  margin:4rem 0 2rem ;
  color:#ec4940;
  /*text-transform: uppercase;*/
}
#body-partner h2{
  font-size: 2.5rem;
  margin:0 0 2rem ;
  color:#ec4940;
}
#body-partner h3{
  margin:0 0 2rem ;
  color:#444;
}
#body-partner h4{
  color:#ec4940;
  font-weight: 500;
}
#body-partner p{
  max-width: 500px;
  margin:2rem auto;
}
#partner-avantages{
  margin:8rem 0;
}
#partner-avantages img{
  width:3rem;
}
#partner-avantages .row{
  max-width: 1000px;
  margin:0 auto;
}
.partner-avantage #partner-map{
  height:40rem;
  width:100%;
}
.partner-avantage .partner-avantage-appli img{
  height:6rem;
  margin:2rem;
}
#partner-functionment{
  margin:8rem 0;
}
#partner-functionment .row{
  max-width: 1000px;
  margin:0 auto;
}
#partner-functionment .myAubaines-list{
  text-align: left;
  max-width: 500px;
  margin:0 auto 2rem;
}
#partner-functionment .partner-avantage-header{
  background-color: #ec4940;
  color:#fff;
  padding:1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
#partner-functionment .partner-avantage-header .number{
  font-size: 2.2rem;
  padding:1rem;
  display:inline-block;
}
#partner-pricing{
  padding:4rem 0;
  background-color: #ec4940;
  color:#fff;
}
#partner-pricing h3{
  color:#fff;
}
#partner-contact{
    padding:7rem 0;
    font-size: 1.6rem;
}
#partner-contact .phone,
#partner-contact .email{
    display:inline-block;
    margin:0.5rem 0;
    font-weight:bold;
}






/*login form*/
.form-signin-wrapper {  
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: left;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin-heading .checkbox {
  margin-bottom: 30px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-submit{
  margin:2rem 0;
}




/*My Aubaines*/
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td{
  padding:3rem ;
}

.myAubaines-list{
  border-collapse: inherit;
  /*background-color: #444;*/
  color:#444;
  padding:1rem;
  border-radius: 0.5rem;
}
.myAubaines-list .list-header{
    text-align: center;
    padding:0rem 2rem 2rem;
}
.myAubaines-list .day{
    border-top:thin solid #ddd;
    padding:2rem 3rem 2rem 7.5rem;
    position:relative;
    min-height: 10rem;
}
.myAubaines-list .day.day-withoutAubaine{
    padding:2rem 1rem 2rem 7rem;
}
.myAubaines-list .date{
    position:absolute;
    top:1rem;
    left:0rem;
    color:#ec4940;
}
.myAubaines-list .date .dayofmonth {
    font-size: 30px;
    line-height: 30px;
    margin-right: 7px;
}
.myAubaines-list .date .shortdate {
    font-size: 0.75em;
}
.myAubaines-list .aubaine-action {
    position:absolute;
    right:0;
    top:1rem;
}
.myAubaines-list .aubaine{
    text-align: left;
}
.myAubaines-list .aubaine-title{
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}
.myAubaines-list .aubaine-message{
  font-style: italic

}
.myAubaines-list .aubaine-indication{
  font-style: italic

}
.myAubaines-form .my-aubaine-form-submit {
  margin-top: 1.5rem;
  }
.myAubaines-form .form-control {
  position: relative;
}
.myAubaines-form-multiple input[name="title"],
.myAubaines-form input[name="title"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.myAubaines-form-multiple input[name="message"],
.myAubaines-form input[name="message"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.myAubaines-form-multiple .control-label{
    margin:10px 0 5px;
}
.myAubaines-map-wrapper{
  padding-top: 3rem;
  margin-bottom: 2rem;
}
#myAubaines-map{
  height:40rem;
  width:100%;
}

.myAubaines-map-wrapper,
.myAubaines-form-multiple-wrapper{
  background-color: #eee;
  padding:1rem 1rem 2rem;
}
#myAubaines-form-multiple-days{
    text-align: center;
    margin-bottom: 2rem;
}
#myAubaines-form-multiple-days .btn{
    margin:1rem 1rem;
    width:9rem;
    text-align: center;
    background:transparent;
    border-color: inherit;
    color:inherit;
}
#myAubaines-form-multiple-days .btn:hover,
#myAubaines-form-multiple-days .btn.active{
    background:#777;
    color:#fff;
}