{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<main class="page-changePassword page-small padding-20">
		<h1>Modification du mot de passe</h1>
		{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
	</main>
{% endblock fos_user_content %}
